<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
</head>
<body>
  <h1>Calendar</h1>
  <a href="/events/create">Create Event</a>
  <form action="/" method="GET">
    <label for="month">Filter by Month:</label>
    <input type="month" id="month" name="month" value="<%= selectedMonth %>">
    <button type="submit">Filter</button>
  </form>
  <ul>
    <% events.forEach(event => { %>
      <li>
        <%= event.title %> - <%= moment(event.date).format('MMMM DD, YYYY HH:mm') %>
        <a href="/events/edit/<%= event._id %>">Edit</a>
      </li>
    <% }); %>
  </ul>
</body>
</html>